.comments-form {
    max-width: 600px;
    min-width: 200px;
    width: 100%;

    h3.title {
        margin: 5px 0;
        color: #000;
        font-size: 22px;
    }

    form.form-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 2px;
        border: solid 1px #e1f2fd;
        padding: 10px 25px;
        margin: auto;
        box-sizing: border-box;

        div {
            display: flex;
            justify-content: space-between;

            &.row {

                margin: 5px 0 20px 0;
                align-items: center;
                position: relative;

                &.error {
                    &:before {
                        content: 'Required field';
                        position: absolute;
                        color: red;
                        bottom: -17px;
                        left: 100px;
                        font-size: 12px;
                    }

                    input,
                    textarea {
                        border-color: red;
                        outline: none;
                    }
                }

                input {
                    height: 29px;
                    padding-left: 15px;
                }

                select {
                    height: 35px;
                    width: 90px;
                    padding-left: 7px;
                    background: #fff;
                }

                textarea {
                    padding: 0 15px;
                }
    
                input,
                textarea,
                select {
                    flex: 1;
                    width: 100%;
                    border-radius: 2px;
                    border: solid 1px #e1f2fd;
                }

                label {
                    font-size: 16px;
                    width: 100px;
                    display: block;
                }
            }
        }

        .action-buttons {
            display: flex;
            flex-wrap: wrap;
            max-width: 150px;
            width: auto;
            justify-content: space-between;
            margin-top: 20px;
            align-self: flex-end;

            button {
                background: #fff;
                border: none;
                cursor: pointer;

                &.submit {
                    color: #007aff;
                    font-weight: 700;

                }

                &.reset {
                    color: #f22e54;
                    font-weight: 700;
                }
    
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

