@import url('<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">');


.order-by {

    .horizontal-list {
        list-style: none;
        padding-top: 20px;
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
    
        li {
            display: inline;
            font-size: 23px;
            margin: 5px;
    
            text-decoration: none;
            color: white;
            cursor: pointer;
            padding: 6px 20px;
            margin: 0 6px;
            border-radius: 2px;
            font-size: 16px;
            font-weight: 600;
                
    
            &.date {
                    border: solid 2px #ff0000;
                    color: #ff0000;
                    background: #fff;
    
                &:hover,
                &.selected {
                    background: #ff0000;
                    color: #fff;
                }

                &.selected {
                    cursor: default;
                }
    
            }
    
            &.vote-score {
                border: solid 2px #fed842;
                color: #fed842;
                background: #fff;
    
                &:hover,
                &.selected {
                    background: #fed842;
                    color: #fff;
                }

                &.selected {
                    cursor: default;
                }
    
            }
        }
    }
    
    .filter-explain {
        font-size: 12px;
        color: #9b9b9b;
        text-align: center;
        margin: 13px 0;
    }

}
