.post-form {
  max-width: 600px;
  min-width: 200px;
  width: 100%; }
  .post-form h3.title {
    margin: 5px 0;
    color: #000;
    font-size: 22px; }
  .post-form form.form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 2px;
    border: solid 1px #e1f2fd;
    padding: 10px 25px;
    margin: auto;
    box-sizing: border-box; }
    .post-form form.form-content div {
      display: flex;
      justify-content: space-between; }
      .post-form form.form-content div.row {
        margin: 5px 0 15px 0;
        align-items: center;
        position: relative; }
        .post-form form.form-content div.row.error:before {
          content: 'Required field';
          position: absolute;
          color: red;
          bottom: -17px;
          left: 100px;
          font-size: 12px; }
        .post-form form.form-content div.row.error input,
        .post-form form.form-content div.row.error textarea {
          border-color: red;
          outline: none; }
        .post-form form.form-content div.row .error:before {
          content: 'Required field';
          position: absolute;
          color: red;
          bottom: 0px;
          left: 100px;
          font-size: 12px; }
        .post-form form.form-content div.row .error input {
          border-color: red;
          outline: none; }
        .post-form form.form-content div.row h5 {
          color: red;
          margin: 3px 0; }
        .post-form form.form-content div.row .input-box {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          flex-direction: column;
          box-sizing: border-box; }
        .post-form form.form-content div.row .error input,
        .post-form form.form-content div.row .error textarea {
          border-color: red; }
        .post-form form.form-content div.row.two-proprieties {
          flex-wrap: wrap;
          margin: 0; }
          .post-form form.form-content div.row.two-proprieties > div {
            margin: 5px 0 15px 0;
            align-items: center; }
        .post-form form.form-content div.row input {
          height: 29px;
          padding-left: 15px;
          box-sizing: border-box; }
        .post-form form.form-content div.row select {
          height: 35px;
          width: 90px;
          padding-left: 7px;
          background: #fff; }
        .post-form form.form-content div.row textarea {
          padding: 0 15px; }
        .post-form form.form-content div.row input,
        .post-form form.form-content div.row textarea,
        .post-form form.form-content div.row select {
          flex: 1;
          width: 100%;
          border-radius: 2px;
          border: solid 1px #e1f2fd; }
        .post-form form.form-content div.row label {
          font-size: 16px;
          width: 100px;
          display: block; }
    .post-form form.form-content .action-buttons {
      display: flex;
      flex-wrap: wrap;
      max-width: 150px;
      width: auto;
      justify-content: space-between;
      margin-top: 20px;
      align-self: flex-end; }
      .post-form form.form-content .action-buttons button {
        background: #fff;
        border: none;
        cursor: pointer; }
        .post-form form.form-content .action-buttons button.submit {
          color: #007aff;
          font-weight: 700; }
        .post-form form.form-content .action-buttons button.reset {
          color: #f22e54;
          font-weight: 700; }
        .post-form form.form-content .action-buttons button:focus {
          outline: none; }

/*# sourceMappingURL=post-form.css.map */
