.category-filtered {

    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    max-width: 600px;
    width: 100%;
    align-self: center;

    a {

        &.create-post {
            border: none;
            background: white;
            color: #007aff;
            cursor: pointer;
            font-weight: 700;
            margin-top: 17px;
            font-size: 17px;
            text-align: right;
            
            i {
                margin-right: 8px;
            }
        }
    }
}
