.category-filtered {

    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        &.create-post {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 184px;
            margin-bottom: 19px;
            margin-top: 8px;
            border: 2px solid #000;
            border-radius: 5px;
            padding: 10px;
            background: #47bd4b;
            text-decoration: none;
            color: #000;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            

            i {
                margin-right: 8px;
            }
        }
    }
}
