.comments-list {
    display: flex;
    flex-direction: column; 
    max-width: 600px;
    min-width: 200px;
    width: 100%;

    .title-content {
        display: flex;
        width: 100%;
        justify-content: space-between;

        h3 {
            margin: 5px 0;
            color: #adadad;
            font-size: 22px;
        }
    
        .create-comment {
            flex-direction: row;
            justify-content: flex-end;
            margin-bottom: 12px;
            margin-top: 8px;
            text-decoration: none;
            color: #007aff;
            font-size: 16px;
            font-weight: 600;
            background: #fff;
            border: none;
            cursor: pointer;
            text-align: right;
    
            i {
                margin-right: 8px;
            }
        }
    }

    

    .comment-item{
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        border-radius: 2px;
        border: solid 1px #e1f2fd;
        padding: 10px 25px;
        margin: 5px auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;

        footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: -10px;

            .post-data {
                display: flex; 
                margin-top: 10px;

                h5 {
                    margin: 0 20px 0 0;
                }

                i {
                    font-size: 24px;
                    color: #4a4a4a;
                    margin-right: 10px;
                }
            }

            .right-area {
                display: flex;
                align-items: center;
                margin-top: 10px;
                flex-wrap: wrap;

                .score-area {
                    margin-right: 20px;
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 19px;
                        margin-right: 5px;
                        margin: 0 6px 0 3px;
                    }

                    i {
                        margin: 0 5px;
                        font-size: 24px; 
                        cursor: pointer;
                        color: #4a4a4a;

                        &.fa-thumbs-up,
                        &.fa-thumbs-down {
                            cursor: default;
                        }


                        &.fa-star {
                            cursor: default;
                            font-size: 20px;
                            //color: #eabc14;
                            margin: 0;
                        }
                    }
                }

                .action-buttons {
                    display: flex;
                    flex-wrap: wrap;
                    width: 125px;
                    justify-content: space-between;
                    margin-top: 20px;
    
                    button {
                        background: #fff;
                        border: none;
                        cursor: pointer;
    
                        &.edit {
                            color: #007aff;
                            font-weight: 700;
    
                        }
    
                        &.delete {
                            color: #f22e54;
                            font-weight: 700;
                        }
            
                        &:focus {
                            outline: none;
                        }
                    }
    
                }
            }
        }
    }
}