.comments-list {
    display: flex;
    flex-direction: column; 
    max-width: 600px;
    min-width: 200px;
    width: 100%;

    h3 {
        margin: 5px 0;
        color: #adadad;
        font-size: 22px;
    }


    .create-comment {
        justify-content: center;
        margin-bottom: 5px;
        margin-top: 8px;
        border: 2px solid #000;
        border-radius: 5px;
        padding: 10px;
        background: #47bd4b;
        text-decoration: none;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;

        i {
            margin-right: 8px;
        }
    }

    .comment-item{
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        border: 2px solid #000;
        padding: 10px 25px;
        margin: 5px auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 10px;
        width: 100%;

        footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: -10px;

            .post-data {
                display: flex; 
                margin-top: 10px;

                h5 {
                    margin: 0 10px 0 0;
                }
            }

            .right-area {
                display: flex;
                align-items: center;
                margin-top: 10px;
                flex-wrap: wrap;

                .score-area {
                    margin-right: 20px;

                    span {
                        font-size: 18px;
                        margin-right: 5px;
                        margin: 0 6px 0 2px;
                    }

                    i {
                        margin: 0 5px;
                        font-size: 21px; 
                        cursor: pointer;

                        &.fa-thumbs-up,
                        &.fa-thumbs-down {
                            cursor: default;
                        }


                        &.fa-star {
                            font-size: 17px;
                            cursor: default;
                            color: #eabc14;
                            margin: 0;
                        }
                    }
                }

                .action-buttons {
                    display: flex;
                    width: 160px;
                    justify-content: space-between;

                    button {
                        padding: 3px 10px;
                        border-radius: 8px;
                        font-size: 14px;                        outline: none;
    
                        &:hover {
                            opacity: 0.7;
                            outline: none;
                            cursor: pointer;
                        }

                        &.edit {
                            background: #f1fefc;
                            border: 2px solid #8fcabf;

                        }

                        &.delete {
                            background: #ffc2c2;
                            border: 2px solid #ff2f00;
                        }
    
                        i {
                            margin-right: 7px
                        }
                    }
                }
            }
        }
    }
}