.post-detail {

    max-width: 600px;
    min-width: 200px;
    width: 100%;

    h3.title {
        margin: 5px 0;
        color: #000;
        font-size: 22px;
    }

    .post-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 2px solid #000;
        padding: 10px 25px;
        margin: auto;
        box-sizing: border-box;
        border-radius: 10px;
    
        .header-post {
            display: flex;
            justify-content: space-around;
            align-items: center;
    
            h3 {
                margin: 3px 0;
                text-align: center;
            }
        }
    
        .body{
            font-size: 19px;
        }
    
        .category{
            padding:6px 8px 4px 8px;
            width: 80px;
            border-radius: 4px;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 700;
            color: white;
            text-align: center;
    
            &.react-category {
                background: #61dafb;
            }
    
            &.redux-category {
                background: #785ebc;
            }
    
            &.udacity-category {
                background: #03b3e4;
            }
        }
    
        footer {
    
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
    
            .score-area {       
                
                margin-top: 20px;
                
                i {
                    margin-right: 4px;
                    font-size: 25px;
        
                    &.fa-star {
                        color: #eabc14;
                        margin-right: 2px;
                        font-size: 20px;
                        margin-left: 12px;
                    }
        
                    &.fa-thumbs-o-up, 
                    &.fa-thumbs-o-down {
                        cursor: pointer
                    }
        
                    &.fa-thumbs-o-up,
                    &.fa-thumbs-up {
                        margin-right: 10px;
                    }
                }
        
                .score {
                    margin-right: 10px;
                    font-size: 19px;
                    
                }
            }

            .action-buttons {
                display: flex;
                flex-wrap: wrap;
                width: 260px;
                justify-content: space-between;
                margin-top: 20px;

                button {
                    background: #f1fffc;
                    border: 2px solid #8fcabf;
                    border-radius: 6px;
                    text-transform: uppercase;
                    font-weight: 700;
                    cursor: pointer;
                    width: 120px;
                    display: flex;
                    justify-content: space-around;
                    font-size: 15px;
                    padding: 7px 8px;
        
                    &:hover {
                        background:  #a4c5d2;
                    }
        
                    &:focus {
                        outline: none;
                    }
                }

            }
    
            
        }
    }

}

