.post-detail {
  max-width: 600px;
  min-width: 200px;
  width: 100%; }
  .post-detail h3.title {
    margin: 5px 0;
    color: #000;
    font-size: 22px; }
    .post-detail h3.title.deleted {
      text-align: center; }
  .post-detail .post-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 2px;
    border: solid 1px #e1f2fd;
    padding: 10px 25px;
    margin: auto;
    box-sizing: border-box; }
    .post-detail .post-content .header-post {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .post-detail .post-content .header-post i {
        color: #4D4A55; }
      .post-detail .post-content .header-post h3 {
        margin: 3px 0;
        text-align: center; }
    .post-detail .post-content h1 {
      color: #007aff; }
    .post-detail .post-content .body {
      font-size: 19px; }
    .post-detail .post-content .category {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90px;
      border-radius: 2px;
      font-size: 17px;
      font-weight: 700;
      color: white;
      text-align: center;
      height: 40px; }
      .post-detail .post-content .category.react-category {
        background: #f22e54; }
      .post-detail .post-content .category.redux-category {
        background: #ff9a38; }
      .post-detail .post-content .category.udacity-category {
        background: #03b3e4; }
    .post-detail .post-content footer {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .post-detail .post-content footer .score-area {
        margin-top: 20px; }
        .post-detail .post-content footer .score-area i {
          margin-right: 4px;
          font-size: 25px;
          color: #4D4A55; }
          .post-detail .post-content footer .score-area i.fa-star {
            margin-right: 2px;
            font-size: 20px;
            margin-left: 12px; }
          .post-detail .post-content footer .score-area i.fa-thumbs-o-up, .post-detail .post-content footer .score-area i.fa-thumbs-o-down {
            cursor: pointer; }
          .post-detail .post-content footer .score-area i.fa-thumbs-o-up, .post-detail .post-content footer .score-area i.fa-thumbs-up {
            margin-right: 10px; }
        .post-detail .post-content footer .score-area .score {
          margin-right: 10px;
          font-size: 19px; }
      .post-detail .post-content footer .action-buttons {
        display: flex;
        flex-wrap: wrap;
        width: 150px;
        justify-content: space-between;
        margin-top: 20px; }
        .post-detail .post-content footer .action-buttons button {
          background: #fff;
          border: none;
          cursor: pointer; }
          .post-detail .post-content footer .action-buttons button.edit {
            color: #007aff;
            font-weight: 700; }
          .post-detail .post-content footer .action-buttons button.delete {
            color: #f22e54;
            font-weight: 700; }
          .post-detail .post-content footer .action-buttons button:focus {
            outline: none; }

/*# sourceMappingURL=post-detail.css.map */
