.post-detail {

    max-width: 600px;
    min-width: 200px;
    width: 100%;

    h3.title {
        margin: 5px 0;
        color: #000;
        font-size: 22px;

        &.deleted {
            text-align: center;
        }
    }

    .post-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 2px;
        border: solid 1px #e1f2fd;
        padding: 10px 25px;
        margin: auto;
        box-sizing: border-box;
    
        .header-post {
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            i {
                color: #4D4A55;
            }
    
            h3 {
                margin: 3px 0;
                text-align: center;
            }
        }

        h1 {
            color: #007aff;
        }
    
        .body{
            font-size: 19px;
        }
    
        .category{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
            border-radius: 2px;
            font-size: 17px;
            font-weight: 700;
            color: white;
            text-align: center;
            height: 40px;
            
    
            &.react-category {
                background: #f22e54;
            }
    
            &.redux-category {
                background: #ff9a38;
            }
    
            &.udacity-category {
                background: #03b3e4;
            }
        }
    
        footer {
    
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
    
            .score-area {       
                
                margin-top: 20px;
                
                i {
                    margin-right: 4px;
                    font-size: 25px;
                    color: #4D4A55;
        
                    &.fa-star {
                        margin-right: 2px;
                        font-size: 20px;
                        margin-left: 12px;
                    }
        
                    &.fa-thumbs-o-up, 
                    &.fa-thumbs-o-down {
                        cursor: pointer;
                    }
        
                    &.fa-thumbs-o-up,
                    &.fa-thumbs-up {
                        margin-right: 10px;
                    }
                }
        
                .score {
                    margin-right: 10px;
                    font-size: 19px;
                    
                }
            }

            .action-buttons {
                display: flex;
                flex-wrap: wrap;
                width: 150px;
                justify-content: space-between;
                margin-top: 20px;

                button {
                    background: #fff;
                    border: none;
                    cursor: pointer;

                    &.edit {
                        color: #007aff;
                        font-weight: 700;

                    }

                    &.delete {
                        color: #f22e54;
                        font-weight: 700;
                    }
        
                    &:focus {
                        outline: none;
                    }
                }

            }
        }
    }

}

