.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    max-width: 600px;
    width: 100%;
    align-self: center;

    a {

        &.create-post {
            flex-direction: row;
            justify-content: flex-end;
            margin-bottom: 12px;
            margin-top: 0px;
            text-decoration: none;
            color: #007aff;
            font-size: 16px;
            font-weight: 600;
            

            i {
                margin-right: 8px;
            }
        }
    }
}
